.radioItem {
  // display: block;
  // width: 100%;
}
.radioInput {
  opacity: 0;
  padding: 0;
  margin: 0;
}

.radioItem:not(:last-child) {
  margin-bottom: 15px;
}

.radioLabel:has(> input:checked) {
  width: auto;
  color: rgb(68, 6, 6);
  text-shadow: 3px -1px 1px rgba(207, 197, 210, 0.51);
}

.radioLabel:has(> input:disabled) {
  color: rgb(189, 180, 180);
}
