.radioInput {
  opacity: 0;
  padding: 0;
  margin: 0;
}

.radioItem:not(:last-child) {
  margin-bottom: 15px;
}

.radioLabel:has(> input:checked) {
  // color: rgb(74, 145, 202);
  color: rgb(68, 6, 6);
  text-shadow: 3px -1px 1px rgba(207, 197, 210, 0.51);
}
