.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.dishName {
  color: rgb(68, 6, 6);
  text-align: center;
  text-shadow: 3px -1px 1px rgba(207, 197, 210, 0.51);
  font-weight: bold;
  text-shadow: 1;
}

.cardTextContainer {
  padding-left: 20px;
}
.highlighted {
  font-weight: bold;
  color: rgb(68, 6, 6);
}
