.form {
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-bottom: 20px;
}

.inputsAndMapFormSection {
  flex-basis: 50%;
  flex-wrap: wrap;
  display: flex;
  align-self: flex-start;
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}
label:nth-child(2n + 1) {
  margin-right: 20px;
}

.hiddenLabel{
  composes: label;
  margin-bottom: 0;
}
.hiddenInput{
height: 0px;
}

.autoCompleteInputContainer{
  width: 253px;
  margin-top: 5px;
 
}


.input {
  width: 253px;
  font-size: 15px;
  margin-top: 5px;
  border: 1px solid rgb(136, 106, 106);
  border-radius: 3px;
  padding: 3px;
  color: rgb(68, 6, 6);
  background-color: #fff;
}

.input:focus {
padding-top: 6.3px;
padding-bottom: 6.3px;
outline-color: rgb(14, 118, 238);
}
.popupBubble {
  background-color: cornsilk;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  text-align: center;
  position: absolute;
  min-width: 180px;
  top: 4px;
  left: 8px;
  font-size: 13px;
  z-index: -1000;
  color: rgb(68, 6, 6);
}

.popupBubbleName {
  font-weight: 700;
}

.marker {
  position: relative;
  font-size: 23px;
}
