html {
  background-color: cornsilk;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(2, 2, 12);
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

div[role='region'] button {
  background-color: #31a74a;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.css-13cymwt-control {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  min-height: 30.5px !important;
  max-height: 30.5px !important;
  padding: 3px;
  border: 1px solid rgb(136, 106, 106) !important;
}

div.css-1fdsijx-ValueContainer {
  margin: 0;
  padding-left: 2px;
  font-size: 15px !important;
  font-weight: normal !important;
}

div.css-1fdsijx-ValueContainer > div.css-qbdosj-Input {
  margin: 0 !important;
  height: 21px !important;
}
/* 
div.css-1hb7zxy-IndicatorsContainer > div {
  padding: 0px !important;
} */

/* #u {
  width: 253px;
  height: 30px;
  background-color: #31a74a;
} */

/* .css-t3ipsp-control:active {
  border: 1.5px solid black !important;
  background-color: #fff !important;
  border: 1px solid black !important;
} */

/* .css-t3ipsp-control:focus{
border-color: #31a74a!important;
}  */

/* .css-t3ipsp-control:focus {
  border: 2px solid black !important;
  outline-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
  gap: 0;
} */
