html {
  background-color: cornsilk;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(2, 2, 12);
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

div[role='region'] button {
  background-color: #31a74a;
}

h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
.css-13cymwt-control {
  display: flex!important;
  align-items: flex-start!important;
  min-height: 30.5px!important;
  max-height: 30.5px!important;
  /* height: 20px; */
  padding: 3px;
  border: 1px solid rgb(136, 106, 106)!important;
}

div.css-1fdsijx-ValueContainer{
  margin: 0;
  padding: 0;
  /* height: 30.5px!important; */
  font-size:15px!important;
  font-weight: normal!important;
}

div.css-1lp111z-Input{
  margin: 0;
  padding: 0;
  height: 25px!important;
 
}

div.css-1hb7zxy-IndicatorsContainer > div{
  padding: 0px!important;
}

#u{
  width: 250px;
  height: 30px;
  background-color: #31a74a;
}

/* .css-t3ipsp-control{
  box-shadow: none;
} */

.css-t3ipsp-control:active{
  border: 1.5px solid black!important;
  /* outline:1px solid black!important; */
  background-color: #fff!important;
  border: 1px solid black!important;
}
/* 
.css-t3ipsp-control:focus{
border-color: #31a74a!important;
} */

.css-t3ipsp-control:focus{
  border: 2px solid black!important;
  box-shadow: none;
 gap:0
}
.userForm_label__6J8P- > div > div:focus{
  padding: 0;
  margin: 0;
}

/* .css-b62m3t-container{
height: 18px;
overflow: hidden;
padding: 0;
} */

form > div > label.userForm_hiddenLabel__rZjUO.userForm_label__6J8P- > div > div:focus{
  padding: 0!important;
  gap:0!important;
  height: 40px!important;
  max-height: 40px!important;
}
.css-b62m3t-container:focus{
  height: 40px!important;
  max-height: 40px!important;
overflow: hidden!important;
padding: 0!important;
gap:0!important;
box-shadow: none!important;
}

.userForm_hiddenLabel__rZjUO.userForm_label__6J8P- > div > div{
padding: 0;
margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* .css-1hb7zxy-IndicatorsContainer{
  padding: 0px!important;
}  */

/* div.css-1lp111z-Input::placeholder{
} */
/* 
#u > div{
  display: block;
  height: 30.5px;
}

/* 
.css-1hb7zxy-IndicatorsContainer{
  padding: 3px;
}  */